.custom-image {
    width: 135px;
    height: 100px;
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
}

.custom-image-teppoki {
    width: 50%; /* Adjust to the desired width */
    height: auto; /* Adjust height proportionally */
    object-fit: contain; /* Or use 'cover' */
}

.custom-text {
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
}

.text-center-right{
    display: flex;
    align-items: center;
    justify-content:left;
}

.custom-height {
    height: 200px; /* Adjust the height as needed */
}

.margin-sekian-kiri{
    margin-left: 0px;
}

.shojumaru-text {
    font-family: 'Shojumaru', cursive;
    font-size: 32px;
}

.margin-sekian-kanan{
    margin-right: 50px;
}

.padding{
    padding: 20px;
}

.mt-sekian{
    margin-top: 120px;
}

.gradient-background {
    width: 50%;
    background-image: linear-gradient(to left, #FFAA47, #FFFFFF); /* Example gradient */
}